[package]
name = "x07-guestd"
version = "0.1.44"
































edition = "2021"

[dependencies]
anyhow = "1"
libc = "0.2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

x07-contracts = { path = "../x07-contracts" }

