[package]
name = "x07-vm-reaper"
version = "0.1.42"






























edition = "2021"

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"

x07-vm = { path = "../x07-vm" }

