[package]
name = "x07-vm"
version = "0.1.13"

edition = "2021"

[dependencies]
anyhow = "1"
libc = "0.2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

x07-contracts = { path = "../x07-contracts" }
x07-host-runner = { path = "../x07-host-runner" }
